<% if(month && month.length > 1) { %>

<div class="downloads-chart">
  <div class="graph">
    <div id="download-chart" data-graph-points="<%= JSON.stringify(month) %>"></div>
  </div>
  <% var dlclount = Number(month[month.length-1].downloads) %>
  <div class="day"><%- dlcount %> download<% if(dlcount!=1){ %>s<% } %> yesterday</div>
</div>

<% } %>
